
  <div class="card" style="width: 50%;margin-bottom:100px;">
    <div class="card-header">
        
        <a href="/profiles/{{username}}"> <p style="text-align:left;"> 
            <img style="width: 70px; length: 70px; display:inline; padding-right:10px;" src="{{profile_picture}}">{{username}} </a>
            <span style="float:right;">{{date}}</span>
        </p>
    </div>
    <div class="card-body">
      <a href="/posts/{{{post_id}}}">
        <img class="card-img-top" style="width: 750px; height: 450px;"src="/api/photos/{{picture}}" alt="Card image cap">
      </a>
    </div>
  </div>
