  <div class="card card_profile" style="margin-bottom:100px;"
  onClick="showModal('{{profile_picture}}','{{username}}','{{date}}','{{picture}}',
                     '{{dish_name}}','{{caption}}','{{rating}}','{{likes}}','{{dislikes}}', '{{restaurant_id}}')">

     <!-- <div class="card-body card-body_profile" style="margin: 1px; padding: 1px;"> -->
         <img class="card-img-top card-img_profile" src="/api/photos/{{picture}}" alt="Card image cap">
     <!-- </div> -->
   </div>
