<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <script src="/js/profile.js"></script>

  <title>{{username}}'s Profile</title>
</head>
<body>

  <!--  Navigation -->
  {{> navbar}}

  <!-- Basic Info -->
  <section class="jumbotron yellow_bg fix_gap">
    <div align="center">
      <img class = "profile_picture" src="{{picture}}">
      <h1 class = "username"><b>{{username}}</b></h1>
      <h5 class="username">{{name}}</h5>
      <button id="follow-btn" type="button" onClick="makeFollowChange()" class="btn btn-primary username"></button>
      <hr width = "600px">
      <ul class = "basic_info">
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="../following">following</a> <br>
          <a class = "basic_info_content" href = "../following">{{following_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a class = "basic_info_content" href="../follower">follower</a> <br>
          <a class = "basic_info_content" href = "../follower">{{follower_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="#post">posts</a> <br>
          <a class = "basic_info_content" href = "#post">5</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Posts Section -->
  <section class="fix_gap jumbotron orange_bg" id = "post">
    <div class = "fix_gap post_section">
      <h2 class = "title_font"> POSTS </h2>
      <hr width = "300px"> <br>

      {{#each posts}}
      <div class = "post_pics" "width: 40%; display:inline-block; text-align: center">
        {{> profilepost post=this}}
      </div>
      {{/each}}
    </div>
  </section>


  {{>modal}}

  <script>
  let following = {{is_following}}
  let button = document.getElementById("follow-btn");
  if(following) {
    button.innerText = "Unfollow"
    // button.onclick = unfollow('{{user_id}}');
  }
  else {
    button.innerText = "Follow"
    //button.onclick = follow('{{user_id}}');
  }

  function makeFollowChange() {
    if(following) {
      unfollow('{{user_id}}')
    }
    else {
      follow('{{user_id}}')
    }
  }
  </script>

</body>

<html>
