<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


  <script src="/js/profile.js"></script>

  <title>{{username}}'s Profile</title>
</head>
<body>

  <!--  Navigation -->
  {{> navbar}}
  
  <!-- Basic Info -->
  <section class="jumbotron yellow_bg fix_gap">
    <div align="center">
      <img class = "profile_picture" src="{{picture}}">
      <h1 class = "username"><b>{{username}}</b></h1>
      <h5 class="username">{{name}}</h5>

      {{#if can_edit}}
        <button id="edit-btn" onClick="" class="btn btn-secondary">Edit</button>
      {{else}}
        {{#if is_following}}
          <button id="unfollow-btn" onClick="unfollow('{{user_id}}')" class="btn btn-secondary">Unfollow</button>
        {{else}}
          <button id="follow-btn" onClick="follow('{{user_id}}')" class="btn btn-primary">Follow</button>
        {{/if}}
      {{/if}}

      <hr width = "600px">
      <ul class = "basic_info">
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="../following">following</a> <br>
          <a class = "basic_info_content" href = "../following">{{following_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a class = "basic_info_content" href="../follower">follower</a> <br>
          <a class = "basic_info_content" href = "../follower">{{follower_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="#post">posts</a> <br>
          <a class = "basic_info_content" href = "#post">{{num_posts}}</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Posts Section -->
  <section class="fix_gap jumbotron orange_bg" id = "post">
    <div class = "fix_gap post_section">
      <h2 class = "title_font"> POSTS </h2>
      <hr width = "300px"> <br>

      {{#each posts}}
        <div id="post{{post_id}}" class = "post_pics" "width: 40%; display:inline-block; text-align: center">
         <div class="card card_profile" style="margin-bottom:100px;"
          onClick="showModal('{{../picture}}','{{../username}}','{{date}}','{{picture}}',
                             '{{dish_name}}','{{caption}}','{{rating}}','{{likes}}','{{dislikes}}',
                             '{{restaurant_id}}', '{{post_id}}', '{{canEdit}}')">
            <img class="card-img-top card-img_profile" src="/api/photos/{{picture}}" alt="Card image cap">
          
          </div>
        </div>
      {{/each}}
    </div>
  </section>

  {{>alertModal}}
  {{>modal}}


</body>

<html>
