<!DOCTYPE html>
<head>
  <link href="profile.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css"> 

  <title>{{username}}'s Profile</title>
</head>
<body>

  <!--  Navigation -->
  {{> navbar}}

<button id="follow-btn" onClick="follow('{{user_id}}')"> Follow </button>
<button id="unfollow-btn" onClick="unfollow('{{user_id}}')"> Unfollow </button>
  <!-- Basic Info -->
  <section class="jumbotron yellow_bg fix_gap">
    <div>
      <img class = "profile_picture" src="{{picture}}">
      <h1 class = "username"><b>{{username}}</b></h1>
      <h5 class="username">{{name}}</h5>
      <hr width = "600px">
      <ul class = "basic_info">
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="../following">following</a> <br>
          <a class = "basic_info_content">{{following_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a class = "basic_info_content" href="../follower">follower</a> <br>
          <a class = "basic_info_content" href = "../following">{{follower_count}}</a>
        </li>
        <li class = "basic_info_item">
          <a  class = "basic_info_content" href="#post">posts</a> <br>
          <a class = "basic_info_content" href = "#post">5</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Posts Section -->
  <section class="fix_gap jumbotron orange_bg" id = "post">
    <div class = "fix_gap post_section">
      <h2 class = "title_font"> POSTS </h2>
      <hr width = "300px"> <br>
      <div class = "individual_post">
        <ul class = "short_post_info">
          <li class = "short_post_info_username">
            <a class = "short_post_info_content" href = "../prifiles">meredith</a>
          </li>
          <li class = "short_post_info_restaurant_and_dish">
            <a class = "short_post_info_content" href = "../restaurant_id">dishName · RestaurantName</a>
          </li>
        </ul>
        <img class = "post_pics_profile" src = "https://www.w3schools.com/images/picture.jpg">
      </div>
      <div class = "individual_post">
        <ul class = "short_post_info">
          <li class = "short_post_info_username">
            <a class = "short_post_info_content" href = "../prifiles">meredith</a>
          </li>
          <li class = "short_post_info_restaurant_and_dish">
            <a class = "short_post_info_content" href = "../restaurant_id">dishName · RestaurantName</a>
          </li>
        </ul>
        <img class = "post_pics_profile" src = "https://www.w3schools.com/images/picture.jpg">
      </div>



      {{#each posts}}
      {{> post post=this}}
      <div class="individual_post" onClick="showModal('{{profile_picture}}','{{username}}','{{date}}','{{picture}}',
                         '{{dish_name}}','{{caption}}','{{rating}}','{{likes}}','{{dislikes}}')">
          <ul class = "short_post_info">
            <li class = "short_post_info_username">
              <a class = "short_post_info_content" href = "/profiles/{{../username}}">{{../username}}</a>
            </li>
            <li class = "short_post_info_restaurant_and_dish">
              <a class = "short_post_info_content" href = "/restaurants/{{restaurant_id}}">{{dish_name}} · {{restaurant_id}}</a>
            </li>
          </ul>
          <img class = "post_pics_profile" src = "/api/photos/{{picture}}">
        </div>
      {{/each}}
      <!-- <ul class = "dish_and_likes_list">
      <li class = "dish_and_likes_element dish_name_element">
      <a class = "dish_name_element_content">{{this.dish_name}}  | {{this.date}} | {{this.rating}} likes</a>
    </li> <br>
    <li class = "dish_and_likes_element like_and_unlike_element">
    <i class="fa fa-thumbs-o-up fa-lg white before" aria-hidden="true"></i>
    <i class="fa fa-thumbs-up fa-lg white after" aria-hidden="true"></i>
  </li>
  <li class = "dish_and_likes_element like_and_unlike_element">
  <i class="fa fa-thumbs-o-down fa-lg white before" aria-hidden="true"></i>
</li>

</ul> -->



</div>
</section>

  <div class ="col" align="center">
      {{#each posts}}
        {{> post post=this}}
      {{/each}}


  </div>


  <script src="/js/profile.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  {{>modal}}

  <script>

    // function follow(user_id) {
    //   alert(user_id);
    //   alert(accessToken)
    //   $.ajax({
    //     url: '/api/profiles/meredith',
    //     type: 'GET',
    //     datetype: 'json',
    //     beforeSend: (xhr) => {   //Include the bearer token in header
    //       xhr.setRequestHeader("Authorization", 'Bearer '+ accessToken);
    //     },
    //     success: (data, textStatus, xhr) => {
    //       alert("Success");
    //       alert(JSON.stringify(data))
    //
    //     },
    //     error: (err) => {
    //
    //       alert(JSON.stringify(err));
    //     }
    //   });
    // }
  </script>

<li>postID: {{this.post_id}}</li>
<li>Dish Name: {{this.dish_name}}</li>
<li>Caption: {{this.caption}}</li>
<li>Rating: {{this.rating}}</li>
<li>Date :{{this.date}}</li>
<li>Likes: {{this.likes}}</li>
<li>Dislikes: {{this.dislikes}}</li>
<li>RestaurantId: {{this.restaurant_id}}</li>

<!-- Copyright -->
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2018</small>
  </div>
</div>

</body>

<html>
