<!DOCTYPE html>
<html lang='eg'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="bitmap/img/favicon.png" type="image/png">
  <!-- <title>Bitmap Photography Multi</title> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bitmap/css/bootstrap.css">
  <link rel="stylesheet" href="bitmap/vendors/linericon/style.css">
  <link rel="stylesheet" href="bitmap/css/font-awesome.min.css">
  <link rel="stylesheet" href="bitmap/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="bitmap/vendors/lightbox/simpleLightbox.css">
  <link rel="stylesheet" href="bitmap/vendors/nice-select/css/nice-select.css">
  <link rel="stylesheet" href="bitmap/vendors/animate-css/animate.css">
  <!-- main css -->
  <link rel="stylesheet" href="bitmap/css/style.css">
  <link rel="stylesheet" href="bitmap/css/responsive.css">
  <title>View restaurant</title>
</head>
<body>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
      <div class="container">
        <div class="banner_content text-center">
          <h2>Restaurant name</h2>
          <div class="page_link">
            <!-- <a href="index.html">Home</a> -->
            <!-- <a href="gallery.html">Gallery</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id = galleries class="gallery_f_inner row imageGallery1">                

    {{#each dishes as |dish|}} 
    <img id = "gallery{{dish.posts.0.picture}}" src="/api/photos/{{dish.posts.0.picture}}" height = 300 alt="" onclick="myFunction('{{dish.posts.0.picture}}', '{{dish.posts.0.dish_name}}')">
    {{/each}} 
  </div>

  <div id = "pics">
    {{#each dishes as |dish|}}
    <div hidden id = "{{dish.posts.0.dish_name}}">
      {{#each posts}}
      <img id = "gallery" src="/api/photos/{{this.picture}}" height = 300 alt="" onClick="showMod('{{this.date}}','{{this.picture}}', '{{this.dish_name}}','{{this.caption}}','{{this.rating}}','{{this.likes}}','{{this.dislikes}}', '{{restaurant_id}}')">
      {{/each}}
    </div>
    {{/each}}
  </div>

  <script> 
    function myFunction(picName, dishName) {
      var x = "";
      document.getElementById("galleries").style.visibility = 'hidden';
      document.getElementById(dishName).hidden = false;
    }
  </script>
  <script> 
    function myFunc2(picName, dishName) {
      var x = "";
      document.getElementById("galleries").style.visibility = 'visible';
      document.getElementById(dishName).hidden = true;
    }
  </script>

  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


  <script>
// This sample uses the Place Autocomplete widget to allow the user to search
// for and select a place. The sample then displays an info window containing
// the place ID and other information about the place that the user has
// selected.

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 13
      });

      var input = document.getElementById('pac-input');

      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo('bounds', map);

      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
      var marker = new google.maps.Marker({
        map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      autocomplete.addListener('place_changed', function() {
        infowindow.close();
        var place = autocomplete.getPlace();
        var restaurant = {};

        $('#restaurant_id').val(place.place_id);

        if (!place.geometry) {
          return;
        }

        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);
        }

    // Set the position of the marker using the place ID and location.
        marker.setPlace({
          placeId: place.place_id,
          location: place.geometry.location
        });
        marker.setVisible(true);

        infowindowContent.children['place-name'].textContent = place.name;
        infowindowContent.children['place-id'].textContent = place.place_id;
        infowindowContent.children['place-address'].textContent =
        place.formatted_address;
        infowindow.open(map, marker);
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6ATDZBleVEUdqGRj5ViySw_L6RVjOZzE&libraries=places&callback=initMap"
  async defer></script>
  <script src="bitmap/js/jquery-3.2.1.min.js"></script>
  <script src="bitmap/js/popper.js"></script>
  <script src="bitmap/js/bootstrap.min.js"></script>
  <script src="bitmap/js/stellar.js"></script>
  <script src="bitmap/vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="bitmap/vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="bitmap/vendors/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="bitmap/vendors/isotope/isotope-min.js"></script>
  <script src="bitmap/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="bitmap/js/jquery.ajaxchimp.min.js"></script>
  <script src="bitmap/js/mail-script.js"></script>
  <script src="bitmap/js/theme.js"></script>

  {{>resModal}}

</body>
</html>
