<!DOCTYPE html>
<!--This is the real handlebars file for posts! The other one can be
kept around as a tester for viewing posts until
this one is up and running.-->
<html lang='eg'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='UTF-8'/>
  <title>View Posts of a Profile</title>
  <link rel='stylesheet' href=''/>
		</head>
<!--- For efficiency there is no CSS yet. This is so we have one CSS sheet
made collaboratively-->

    <h1 id="text">View Post</h1>
<<<<<<< HEAD
    <label> Enter post ID </label>
    <input id="post_id" type="text">
    <button id="btn"> Find post </button>
    <br>
    <br>
    <br>
    
    <div id="like_dislike_delete" style="display:none">
      <label> Enter access token </label>
      <input id="access_token">
      <br>
      <br>
      <button id="like"> Like </button>
      <button id="dislike"> Dislike </button>
      <br>
      <br>
      <button id="delete"> Delete post </button>
      <br>
      <br>
      <input id="comment_text">
      <button id="comment">Add comment! </button>
    </div>
=======

>>>>>>> 820ce49d7aab25647830f03a40ca19f8345abfd3
    
    <br>
    <br>
    
    <button id="like" onClick="like({{post_id}})"> Like </button>
    <button id="dislike" onClick="dislike({{post_id}})"> Dislike </button>
    <button id="delete"> Delete post </button>

    <div id="post_info" >
      <p id="pic"> Dish image: </p>
      <img id="image" width="150" height="150" src="/api/photos/{{picture}}">
      <p id="likes"> Likes: {{likes}} </p>
      <p id="dislikes"> Dislikes: {{dislikes}} </p>
      <p id="postid"> Post ID: {{post_id}} </p>
      <p id="restaurant_id"> Restaurant ID: {{restaurant_id}}</p>
      <p id="dish"> Dish name: {{dish_name}}</p>
      <p id="author"> Author ID: {{author_id}}</p>
      <p id="post_caption"> Post caption: {{caption}}</p>
      <p id="post_rating"> Post rating: {{rating}}</p>
      <p id="post_date"> Post date: {{date}}</p>

      <br>
      <label> Add comment: </label>
      <input id="comment_text">
      <button id="comment" onClick="comment({{post_id}})"> Like </button>
      <br><br><br>

      {{#each comments}}
        <img src="{{profile_picture}}" style="width:50px;height:50px">
        <p> {{username}}: {{comment_text}}</p>
        <br><br>
      {{/each}}
    </div>
   



  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/viewPost.js"></script>
  <script>
  </script>

  
</body>
<html>
